Whatsapp_phone_no_id=YOUR_WHATSAPP_PHONE_ID
Whatsapp_acess_token=WHATSAPP_ACCESS_TOKEN
Whatsapp_verify_token=YOUR_WHATSAPP_VERIFY_TOKEN

GROQ_API_KEY=YPUR_GROQ_API_KEY

gmail_client_id= YOUR_GMAIL_CLIENT_ID
gmail_client_secret=YOUR_CLIENT_SERVICE

gmail_acess_token=YOUR_GMAIL_ACCESS_TOKEN
gmail_refresh_token=YOUR_GMAIL_REFRESH_TOKEN

port=3000